block content
  if auth
    p You are logged in
    p #{auth}
    html
      head
        title= title
      body
        p <img src = !{user_picture} >
    a(type = "submit", href='/logout') Log out
  else
    p You are not logged in
    a(type = "submit", href='/log') Log in