block content
  if auth
    p You are logged in
    p #{auth}
    html
      head
        title= title
      body
        p <img src = !{user_picture} >
    if auth_service === "Google"
      a(type = "submit", href='/logout') Log out
    else if auth_service === "GitHub"
      a(type = "submit", href='/logoutWithGitHub') Log out
  else
    p You are not logged in
    a(type = "submit", href='/log') Log in with Google
    p
    a(type = "submit", href='/logWithGitHub') Log in with GitHub